GROQ_API_KEY=votre_cle_groq_ici
GROQ_MODEL=qwen/qwen3.8-27b

COHERE_API_KEY=votre_cle_cohere_ici
COHERE_MODEL=command-r

HF_TOKEN=votre_cle_huggingface_ici
HF_MODEL=microsoft/Phi-3-mini-4k-instruct

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=parleo
DB_PORT=3306
